<div class="homesection6-container">
    <div class="first-section">
        <div class="text-wrap">
        <h1>How we can help...</h1>
        <p>We offer a wide range of procedures to help you get the perfect smile.
        Request a quote</p>
        </div>
        <a href="/request" class="first-section-btn">Request A Quote</a>
    </div>
</div>
